@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9% 0 0);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9% 0 0);
  --color-primary: oklch(9% 0 0);
  --color-primary-foreground: oklch(98% 0 0);
  --color-secondary: oklch(96.1% 0 0);
  --color-secondary-foreground: oklch(9% 0 0);
  --color-muted: oklch(96.1% 0 0);
  --color-muted-foreground: oklch(45.1% 0 0);
  --color-accent: oklch(96.1% 0 0);
  --color-accent-foreground: oklch(9% 0 0);
  --color-destructive: oklch(60.2% 0.177 29);
  --color-destructive-foreground: oklch(98% 0 0);
  --color-border: oklch(89.8% 0 0);
  --color-input: oklch(89.8% 0 0);
  --color-ring: oklch(9% 0 0);
  --radius: 0.5rem;

  --default-border-color: var(--color-border);
}

.dark {
  --color-background: oklch(9% 0 0);
  --color-foreground: oklch(98% 0 0);
  --color-card: oklch(9% 0 0);
  --color-card-foreground: oklch(98% 0 0);
  --color-popover: oklch(9% 0 0);
  --color-popover-foreground: oklch(98% 0 0);
  --color-primary: oklch(98% 0 0);
  --color-primary-foreground: oklch(9% 0 0);
  --color-secondary: oklch(14.9% 0 0);
  --color-secondary-foreground: oklch(98% 0 0);
  --color-muted: oklch(14.9% 0 0);
  --color-muted-foreground: oklch(63.9% 0 0);
  --color-accent: oklch(14.9% 0 0);
  --color-accent-foreground: oklch(98% 0 0);
  --color-destructive: oklch(30.6% 0.132 29);
  --color-destructive-foreground: oklch(98% 0 0);
  --color-border: oklch(14.9% 0 0);
  --color-input: oklch(14.9% 0 0);
  --color-ring: oklch(83.1% 0 0);

  --default-border-color: var(--color-border);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-feature-settings: "rlig" 1, "calt" 1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
